<link href="~/Content/video.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Screen Capture Extension
    </a>

</nav>

<div class="container">
    <h1>No image found!</h1>
    <p>Try to check your image id, was it deleted?</p>
    <p>Select another image page...</p>
</div>

<script src="~/Scripts/video.js"></script>